/* table #00{
    border-right: 3px solid black;
    border-bottom: 3px solid black; */
/* } */
/* table td{
    border-right: 3px solid;
} */

h1{
    font-size: 75px;
    text-shadow: 2px 2px black;
    color: rgb(164, 0, 218);
    margin-bottom: 5px;

}
table{
    width: 500px;
    height: 500px;
    text-align: center;
    margin: auto;
    
    
}

/* .gameInfo{
    display:flex;
} */
table td{
    font-size: 75px;
    color: red;
    text-shadow: 2px 2px black;

}
/* h2, h3{
    text-align: left;
    margin-left: 20px;
} */

button{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background-color: wheat;
    /* color: black; */
    padding: 10px;
    /* margin: 10px; */
    cursor: pointer;
}

button:hover{
    background-color: white;
}

button:disabled{
    background-color: gray;
}

body{
    text-align: center;
    justify-content: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(61,162,67);
    background: linear-gradient(90deg, rgba(61,162,67,1) 25%, rgba(0,212,255,1) 100%);
}

.upperLeft{
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: rgb(164, 0, 218);
}
.upperMiddle{
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color: rgb(164, 0, 218);
}
.upperRight{
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: rgb(164, 0, 218);
}

.middleLeft{
    border-top: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: rgb(164, 0, 218);
}
.middleMiddle{
    border:3px solid;
    border-color: rgb(164, 0, 218);
}
.middleRight{
    border-top: 3px solid;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: rgb(164, 0, 218);
}

.bottomLeft{
    border-top: 3px solid;
    border-right: 3px solid;
    border-color: rgb(164, 0, 218);
}
.bottomMiddle{
    border-top: 3px solid;
    border-right: 3px solid;
    border-left: 3px solid;
    border-color: rgb(164, 0, 218);
}
.bottomRight{
    border-top: 3px solid;
    border-left: 3px solid;
    border-color: rgb(164, 0, 218);
}
